@import '../../styles/index';

.landingHero {
  max-width: $max-container-width;
  margin: $global-xxlg-padding auto rem-calc(50);
  padding: 0 $global-mlg-padding;

  &__main {
    max-width: $landing-page-mobile-max-width;
    margin: 0 auto;
    flex: 1 1 auto;
  }

  &__featured {
    display: none;

    // Primary layout
    flex: 1 1 auto;
    height: rem-calc(561);
    padding-left: rem-calc(32);

    // Internal layout
    grid-template-columns: repeat(3, #{rem-calc(106)});
    grid-gap: rem-calc(12);

    &__image {
      position: relative;
      margin: rem-calc(32) 0 rem-calc(37);
      border-radius: rem-calc(100);
      overflow: hidden;
      @extend %ani-skeleton-loader;

      &--large {
        margin: 0;
      }

      &:after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: center;
      }
    }
  }

  &__pill {
    display: inline-block;
    padding: 0 $global-md-padding 0 rem-calc(3);
    margin-bottom: $global-padding;
    font-size: rem-calc(11);
    line-height: rem-calc(26);
    color: $primary-color;
    background-color: rgba($primary-color, 0.15);
    white-space: nowrap;
    border-radius: 12px;

    &__icon {
      display: inline-block;
      width: rem-calc(20);
      height: rem-calc(20);
      margin: -2px rem-calc(5) 0 0;
    }
  }

  &__heading {
    font-size: rem-calc(39);
    line-height: rem-calc(47);

    > u {
      position: relative;
      display: inline-block;
      text-decoration: none;
      z-index: 1;

      &:after {
        display: block;
        content: '';
        position: absolute;
        bottom: 3px;
        background-color: $light-blue-2-color;
        width: calc(100% + #{rem-calc(8)});
        margin-left: rem-calc(-4);
        height: rem-calc(11);
        z-index: -1;
      }
    }
  }

  &__description {
    margin-bottom: $global-mlg-padding;
    font-size: rem-calc(17);
    line-height: rem-calc(22);
    color: $dark-blue-2-color;
  }

  &__form {
    margin-bottom: $global-lg-padding;

    &__smallText {
      font-size: rem-calc(12);
      line-height: rem-calc(18);
      color: $dark-blue-2-color;

      > a {
        display: inline-block;
        text-indent: $global-sm-padding;
        text-decoration: underline;
        color: $medium-gray-color;
      }
    }
  }

  &__formField {
    display: flex;
    flex-wrap: wrap;
    padding: rem-calc(11) $global-padding rem-calc(10) $global-padding;
    margin-bottom: $global-sm-padding;
    border: 2px solid $light-blue-color;
    border-radius: 4px;

    &__input {
      flex: 1 1 auto;
      padding: 0;
      margin-bottom: $global-sm-padding;
      font-size: rem-calc(17);
      line-height: rem-calc(32);
      background-color: transparent;
      border-width: 0;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $light-gray-color;
      }
    }

    &__submit {
      flex: 1 1 100%;
      padding: rem-calc(15) rem-calc(30);
      border-width: 0;
      background-color: $primary-color;
      color: $white-color;
      font-size: rem-calc(14);
      font-weight: bold;
      letter-spacing: rem-calc(0.33);
      border-radius: 5px;
    }
  }

  @include media-query(tablet) {
    &__formField {
      flex-wrap: nowrap;
      padding-right: rem-calc(10);

      &__input {
        margin-right: $global-padding;
        margin-bottom: 0;
        line-height: rem-calc(22);
      }

      &__submit {
        flex-grow: 0;
        flex-basis: auto;
      } 
    }
  }

  @include media-query(desktop) {
    display: flex;

    &__main {
      width: 60%;
    }

    &__featured {
      display: grid;

      &__image:nth-child(1)::after {
        background-image: url(/assets/components/landingHero/left-image.webp);
      }

      &__image:nth-child(2)::after {
        background-image: url(/assets/components/landingHero/center-image.webp);
      }

      &__image:nth-child(3)::after {
        background-image: url(/assets/components/landingHero/right-image.webp);
      }
    }
  }

  @include media-query-retina(desktop) {
    &__featured {
      &__image:nth-child(1)::after {
        background-image: url(/assets/components/landingHero/left-image@2x.webp);
      }

      &__image:nth-child(2)::after {
        background-image: url(/assets/components/landingHero/center-image@2x.webp);
      }

      &__image:nth-child(3)::after {
        background-image: url(/assets/components/landingHero/right-image@2x.webp);
      }
    }
  }

  // Expand featured image
  @include media-query(large-desktop) {
    &__featured {
      padding-left: rem-calc(54);
      grid-template-columns: repeat(3, #{rem-calc(125)});
      grid-gap: rem-calc(18);

      &__image:not(&__image--large) {
        margin: rem-calc(65) 0 rem-calc(75);
      }
    }
  }
}