$loading-gray-light: $light-gray-2-color;
$loading-gray-accent: lighten($light-gray-2-color, 2);

%ani-skeleton-loader {
  display: block;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(
      110deg,
      $loading-gray-light 73%,
      $loading-gray-accent 75%,
      $loading-gray-light 77%,
      $loading-gray-light 78%,
      $loading-gray-accent 84%,
      $loading-gray-accent 88%,
      $loading-gray-light 94%,
      $loading-gray-light 100%
    );
    background-size: 200% 100%;
    background-position: 0 center;
    border-radius: inherit;
    animation: 1.1s ease-in-out skeleton-loader infinite;
  }
}

%ani-skeleton-loader--white {
  @extend %ani-skeleton-loader;

  &:before {
    background-image: linear-gradient(
      110deg,
      $white-color 73%,
      $loading-gray-accent 75%,
      $white-color 77%,
      $white-color 78%,
      $loading-gray-accent 84%,
      $loading-gray-accent 88%,
      $white-color 94%,
      $white-color 100%
    );
  }
}

@keyframes skeleton-loader {
  0% {
    background-position-x: 0;
  }
  40%,
  100% {
    background-position-x: -200%;
  }
}
