body {
  font-family: $body-font-family;
  color: $body-font-color;
}

// /* Default Link Styles */
a {
  color: $anchor-font-color;
  text-decoration: none;
  line-height: inherit;

  img {
    border: none;
  }
}

// /* Default paragraph styles */
p {
  font-family: $paragraph-font-family;
  font-weight: $paragraph-font-weight;
  font-size: $paragraph-font-size;
  line-height: $paragraph-line-height;
  margin-bottom: $paragraph-margin-bottom;
  text-rendering: $paragraph-text-rendering;

  & aside {
    font-size: $paragraph-aside-font-size;
    line-height: $paragraph-aside-line-height;
    font-style: $paragraph-aside-font-style;
  }
}

// /* Helpful Typography Defaults */
em,
i {
  font-style: italic;
  line-height: inherit;
}

strong,
b {
  font-weight: $font-weight-bold;
  line-height: inherit;
}

small {
  font-size: $small-font-size;
  color: $small-font-color;
  line-height: inherit;
}
